.articles-box {
	margin: 40px auto;
	width: 1250px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px auto;
	.headlines-box {
		display: flex;
		flex-direction: column;
		width: 800px;
		margin: 0px auto;
	}
	.side-box {
		display: flex;
		flex-direction: column;
		width: 400px;
		margin: 5px auto;
	}
}

@media screen and(max-width:1300px) {
	.articles-box {
		width: 1100px;
		.headlines-box {
			width: 600px;
			margin: 0px;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 300px;
			margin: 5px auto;
		}
	}
}

@media screen and(max-width:1200px) {
	.articles-box {
		width: 1000px;
		.headlines-box {
			width: 550px;
			margin: 0px;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 300px;
			margin: 5px auto;
		}
	}
}

@media screen and(max-width:1100px) {
	.articles-box {
		width: 1000px;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 800px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 800px;
			margin: 10px auto;
		}
	}
	
}

@media screen and(max-width:1000px) {
	.articles-box {
		width: 800px;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 600px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 600px;
			margin: 10px auto;
		}
	}
}

@media screen and(max-width:750px) {
	.articles-box {
		width: 500px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 500px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 500px;
			margin: 10px;
		}
	}
}

@media screen and(max-width:550px) {
	.articles-box {
		width: 450px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 400px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 400px;
			margin: 10px;
		}
	}
}

@media screen and(max-width:475px) {
	.articles-box {
		width: 400px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 370px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 370px;
			margin: 10px;
		}
	}
}

@media screen and(max-width:430px) {
	.articles-box {
		width: 380px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 340px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 340px;
			margin: 10px;
		}
	}
}

@media screen and(max-width:420px) {
	.articles-box {
		width: 360px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.headlines-box {
			width: 340px;
			margin: auto;
		}
		.side-box {
			display: flex;
			flex-direction: column;
			width: 340px;
			margin: 10px;
		}
	}
}