.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.form input {
    min-width: 240px;
    margin: auto;
    transition: all 0.1s ease-in-out;
}

.form input:hover {
    border: 1px solid rgb(40,40,200);
}
.form i {
    color: #888;
    transition: all 0.3s ease-in-out;
}

.form i:hover {
    color: rgb(40, 40, 200);
}