.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	input {
		min-width: 240px;
		margin: auto;
		transition: all 0.1s ease-in-out;
		&:hover {
			border: 1px solid rgb(40,40,200);
		}
	}
	i {
		color: #888;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: rgb(40, 40, 200);
		}
	}
}

@media screen and(max-width: 750px) {
	.form {
		display: flex;
		width: 400px;
		margin: auto;
		input {
			width: 600px;
			margin: auto;
		}
	}
}
@media screen and(max-width: 680px) {
	.form {
		display: flex;
		margin: auto;
		input {
			margin: auto;
		}
	}
}

@media screen and(max-width: 420px) {
	.form {
		display: flex;
		margin: auto;
		width: 370px;
		input {
			margin: auto;
			width: 360px;
		}
	}
}

@media screen and(max-width: 415px) {
	.form {
		display: flex;
		margin: auto;
		width: 340px;
		input {
			margin: auto;
			width: 340px;
		}
		button {
			display: none;
		}
	}
}