.filter-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 25px auto;
    width: 800px;
    background-color: #eee;
}

.filter-box .filter-poster {
    position: relative;
    width: 800px;
}

.filter-box .filter-details {
    position: absolute;
    bottom: 0%;
    width: 800px;
    padding: 10px 30px 10px 30px;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.filter-box .filter-details:hover {
    background-color: rgba(0,0,0,0.75);
}

.filter-box .filter-details .filter-title,
.filter-box .filter-details .filter-description {
    color: #fff;
    width: 750px;
}

.filter-box .filter-details .filter-title {
    font-size: 24px;
}

.filter-box .filter-details .filter-description {
    font-size: 16px;
}

.filter-box .filter-details button {
    margin-top: 10px;
    transition:  all 0.3s ease;
}

.filter-box .filter-details button:hover {
    background-color: #333;
}

.filter-box .filter-details button a {
    color: #fff;
    transition:  all 0.3s ease;
}

.filter-box .filter-details button a:hover {
    color: #ccc;
}