.social-media-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-box .social-media-box-title {
    color: #888;
    font-size: 24px;
    font-weight: 100;
}
.social-media-box .social-media-box-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
}

.social-media-box .social-media-box-list li {
    margin: auto 5px;
}

.social-media-box .social-media-box-list li a i {
    font-size: 48px;
    margin: auto 5px;
    transition: all 0.3s ease;
}

.social-media-box .social-media-box-list li a i:hover {
    color: #ccc;
}