.logo-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	i {
		color: rgb(140, 140, 240);
		font-weight: 600;
	}
	span {
		font-weight: 100;
		color: rgb(140, 140, 240);
		transition: all 0.1s ease;
	}
	.logo-message {
		color: #aaa;
		font-weight: 200;
		font-size: 18px;
		position: absolute;
		bottom: -25px;
		left: 5px;
		min-width: 400px;
	}
}