.route-name-box {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	margin: 20px auto -20px auto;
	.route-name-item {
		min-width: 90px;
		height: 50px;
		background-color: #eee;
		margin: 25px;
		padding: 10px 15px;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 200;
		color: rgba(40, 40, 200);
		border-bottom: 3px solid rgba(40, 40, 200);
	}
}