.copyright-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.copyright-box .copyright-sign {
    font-size: 24px;
    color: #555;
    font-weight: 100;
}

.copyright-box .copyright-sign i {
    font-size: 24px;
    color: #888;
    font-weight: 500;
}

.copyright-box .app-description, .copyright-box .app-version {
    color: #777;
    font-weight: 100;
    font-size: 18px;
}

.copyright-box .app-version a {
    text-decoration: none;
    margin: auto 5px;
    font-weight: 600;
    color: #555;
    transform: all 0.2s ease;
}

.copyright-box .app-version a:hover {
    color: #000;
}