.copyright-box {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	.copyright-sign {
		font-size: 24px;
		color: #555;
		font-weight: 100;
		i {
			font-size: 24px;
			color: #888;
			font-weight: 500;
		}
	}
	.app-description {
		color: #777;
		font-weight: 100;
		font-size: 18px;
	}
	.app-version {
		color: #777;
		font-weight: 100;
		font-size: 18px;
		a {
			text-decoration: none;
			margin: auto 5px;
			font-weight: 600;
			color: #555;
			transform: all 0.2s ease;
			&:hover {
				color: #000;
			}
		}
	}
}