* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.advert {
  width: 1000px;
  margin: auto;
}
.sidebar {
  display: none;
}

a, a:hover {
  text-decoration: none;
}

@media screen and(max-width: 1300px) {
  .sidebar {
    position: absolute;
    right: 1%;
    top: 10.5%;
    width: 400px;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
  .advert {
    width: 1000px;
    margin: auto;
  }
}

@media screen and(max-width: 1100px) {
  .sidebar {
    top: 10%;
  }
  .advert {
    width: 800px;
    margin: auto;
  }
}

@media screen and(max-width: 1000px) {
  .sidebar {
    top: 10%;
  }
  .advert {
    width: 800px;
    margin: auto;
  }
}


@media screen and(max-width: 750px) {
  .advert {
    width: 500px;
    margin: auto;
  }
  .sidebar {
    top: 12%;
  }
}

@media screen and(max-width: 600px) {
  .sidebar {
    top: 12%;
    width: 550px;
    margin: auto;
  }
  .advert {
    width: 500px;
    margin: auto;
  }
}

@media screen and(max-width: 570px) {
  .advert {
    width: 400px;
    margin: auto;
  }
  .sidebar {
    top: 12%;
    width: 520px;
    margin: auto;
  }
}

@media screen and(max-width: 520px) {
  .advert {
    width: 400px;
    margin: auto;
  }
  .sidebar {
    top: 12%;
    width: 450px;
    margin: auto;
  }
}

@media screen and(max-width: 450px) {
	.sidebar {
    top: 12%;
    width: 400px;
    margin: 5px 2px;
  }
  .advert {
    transform: scale(0.9,0.95);
    margin: auto;
  }
}

@media screen and(max-width: 420px) {
	.sidebar {
    width: 400px;
    top: 12%;
    margin: auto;
  }
  .advert {
    transform: scale(0.9,0.95);
    margin: 5px;
  }
}

@media screen and(max-width: 415px) {
	.sidebar {
    width: 400px;
    top: 12%;
    margin: auto;
  }
  .advert {
    transform: scale(0.8,0.75);
    margin: auto;
    padding: auto;
  }
}